<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>按地区随机生成</string>
			<key>footerText</key>
			<string>选择地区以填充区域设置、运营商、GPS、Wi-Fi、IPv6/LAN以匹配该地区。支持法国、西班牙、波兰、美国、英国。</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>randomizeRegionAuto</string>
			<key>label</key>
			<string>自动（根据公网IP）</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>randomizeRegionFR</string>
			<key>label</key>
			<string>法国</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>randomizeRegionES</string>
			<key>label</key>
			<string>西班牙</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>randomizeRegionPL</string>
			<key>label</key>
			<string>波兰</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>randomizeRegionUS</string>
			<key>label</key>
			<string>美国</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>randomizeRegionGB</string>
			<key>label</key>
			<string>英国</string>
		</dict>
	</array>
	<key>title</key>
	<string>按地区随机生成</string>
</dict>
</plist>
